.genresContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2rem;
}
.genresContainer button{
    background-color: transparent;
    border: none;
}
.genresContainer li{
    height: 150px;
    list-style: none;
    width: 150px;
    background: #162C46;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    padding: 1rem;
    text-align: center;
}
.genresContainer li span{
    font-weight: 500;
    font-size: 1.1rem;
}
@media (max-width:700px) {
    .genresContainer{
        align-items: center;
        justify-content: center;
    }
}