*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-bg:#10141E;
    --bg-2:#171E31;
    --white:#ffff;
    --red:#FC4747;
    --light-blue:#5A6A90;
    --category-bg:#162C46;
}
button{
    cursor: pointer;
}
body{
    background-color: var(--main-bg);
    color: var(--white);
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9;
  }
  .modal {
    border-radius: 6px;
    max-width: 100%;
    padding: 1.5rem;
    top: 50%;
    width: 80rem;
    height: 600px;
    z-index: 10;
    background: transparent;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }
  .modal .close{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    align-self: flex-end;
  }
  iframe{
    height: 100%;
    width: 100%;
  }
.content{
    display: flex;
    position: relative;
}
img,svg{
    display: block;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    left: 20px;
    top: 82px;
    align-self: flex-start;
}
a{
    text-decoration: none;
    color: currentColor;
}
main{
    min-width: 650px;
    margin-left:50px;
    width: 100%;
    margin-bottom: 1rem;
    min-height: 90vh;
}
footer{
    text-align: center;
    padding: 1rem;
}

.container_card{
    width: 250px;
    height: 330px;
    transition: transform 450ms;
}
.container_card:hover{
    transform: scale(1.12);
}
.container_card img{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}
.container_card_title{
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    margin-top: 0.5rem;
    width: 200px;
}
.container_card_details{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
    color: rgb(155, 155, 155);
    font-size: 0.85rem;
}
.CommonContainer{
    padding: 1rem;
}
.CommonContainer  .headings{
    margin-top: 5rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
}
.movieContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
    padding: 1rem;
}
button{
    color: var(--white);
    cursor: pointer;
}
body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar{
    width: 6px;
    height:6px ;
}

body::-webkit-scrollbar-track{
    background-color: rgba(132, 131, 131, 0.684);
    border-radius: 12px;
    cursor: pointer;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--red);
    border-radius: 12px;
    cursor: pointer;
}
@media (max-width:700px){
   
    .content{
        flex-direction: column;
    }
    main{
        margin-left: 0;
        min-width: 100%;
    }
    header{
        position: static;
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width:700px) {
    .movieContainer{
        justify-content: center;
        align-items: center;
    }
}